### BASELINE MODEL

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Reat the data into pandas DataFrames

df = pd.read_csv('train_features.csv')
df_test = pd.read_csv('train_labels.csv')

df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [3]:
df.shape

(59400, 40)

In [4]:
df_test.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [5]:
df_test.shape

(59400, 2)

In [6]:
# Combine the DataFrames 
# Remember, target variable is 'status_group'

df_combined = df.merge(df_test, on='id', how='left')
df_combined.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [7]:
df_combined.dtypes

id                         int64
amount_tsh               float64
date_recorded             object
funder                    object
gps_height                 int64
installer                 object
longitude                float64
latitude                 float64
wpt_name                  object
num_private                int64
basin                     object
subvillage                object
region                    object
region_code                int64
district_code              int64
lga                       object
ward                      object
population                 int64
public_meeting            object
recorded_by               object
scheme_management         object
scheme_name               object
permit                    object
construction_year          int64
extraction_type           object
extraction_type_group     object
extraction_type_class     object
management                object
management_group          object
payment                   object
payment_type              object
water_quality             object
quality_group             object
quantity                  object
quantity_group            object
source                    object
source_type               object
source_class              object
waterpoint_type           object
waterpoint_type_group     object
status_group              object
dtype: object

In [8]:
df_combined.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [9]:
# Just the numerical data

df_combined_num = df_combined.select_dtypes(include=['number']).copy()
df_combined_num.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0

In [10]:
# add the target variable to the numeric

df_combined_num['target'] = df_combined['status_group']
df_combined_num.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,target
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999,functional
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010,functional
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009,functional
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986,non functional
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0,functional

In [11]:
# no null values for the Numeric DataFrame

df_combined_num.isna().sum()

id                   0
amount_tsh           0
gps_height           0
longitude            0
latitude             0
num_private          0
region_code          0
district_code        0
population           0
construction_year    0
target               0
dtype: int64

In [12]:
df_combined_num.shape

(59400, 11)

In [13]:
# target variable seems to be shuffled

df_combined_num['target'].head(100)

0                  functional
1                  functional
2                  functional
3              non functional
4                  functional
5                  functional
6              non functional
7              non functional
8              non functional
9                  functional
10                 functional
11                 functional
12                 functional
13                 functional
14                 functional
15                 functional
16             non functional
17             non functional
18    functional needs repair
19                 functional
20                 functional
21                 functional
22    functional needs repair
23                 functional
24                 functional
25    functional needs repair
26                 functional
27                 functional
28             non functional
29                 functional
               ...
70             non functional
71             non functional
72             non functional
73             non functional
74                 functional
75             non functional
76                 functional
77                 functional
78             non functional
79                 functional
80                 functional
81    functional needs repair
82                 functional
83                 functional
84             non functional
85             non functional
86                 functional
87             non functional
88             non functional
89    functional needs repair
90    functional needs repair
91             non functional
92             non functional
93                 functional
94             non functional
95                 functional
96             non functional
97                 functional
98    functional needs repair
99             non functional
Name: target, Length: 100, dtype: object

In [14]:
df_combined_num['target'].value_counts(normalize=True)

functional                 0.543081
non functional             0.384242
functional needs repair    0.072677
Name: target, dtype: float64

#### The majority class is funtioncal (54%), so 54% is the baseline accuracy

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = df_combined_num.loc[:, 'id':'construction_year']
y = df_combined_num['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

lr = LogisticRegression().fit(X_train, y_train)

y_preds = lr.predict(X_test)

print("Training set score: {:.2f}".format(lr.score(X_train,y_train)))
print("Test set score: {:.2f}".format(lr.score(X_test, y_test)))

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Training set score: 0.55
Test set score: 0.55

In [16]:
y_preds[:5]

array(['functional', 'functional', 'functional', 'functional',
       'functional'], dtype=object)

In [17]:
# Reading in test data to make predictions on and submit to Kaggle
# We separate out the numerical data just like we did we the training set

df_test = pd.read_csv('test_features.csv')
df_test.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
1,51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
2,17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
3,45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
4,49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe

In [18]:
df_test.isna().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    783
gps_height                  0
installer                 788
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 94
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            785
recorded_by                 0
scheme_management         939
scheme_name              6839
permit                    663
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [19]:
df_test_num = df_test.select_dtypes(include=['number']).copy()
df_test_num.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,50785,0.0,1996,35.290799,-4.059696,0,21,3,321,2012
1,51630,0.0,1569,36.656709,-3.309214,0,2,2,300,2000
2,17168,0.0,1567,34.767863,-5.004344,0,13,2,500,2010
3,45559,0.0,267,38.058046,-9.418672,0,80,43,250,1987
4,49871,500.0,1260,35.006123,-10.950412,0,10,3,60,2000

In [20]:
df_test_num.shape

(14358, 10)

In [21]:
df_test_num.isna().sum()

id                   0
amount_tsh           0
gps_height           0
longitude            0
latitude             0
num_private          0
region_code          0
district_code        0
population           0
construction_year    0
dtype: int64

In [26]:
X_test_final = df_test_num

In [27]:
test_features_preds = lr.predict(X_test_final)

test_features_preds

array(['functional', 'functional', 'functional', ..., 'functional',
       'functional', 'functional'], dtype=object)

In [28]:
kaggle_baseline_submission = pd.DataFrame({'id': df_test_num.id, 'status_group': test_features_preds})

kaggle_baseline_submission.head()

      id    status_group
0  50785      functional
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [29]:
kaggle_baseline_submission.shape

(14358, 2)

In [30]:
df_combined_num.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year,target
0,69572,6000.0,1390,34.938093,-9.856322,0,11,5,109,1999,functional
1,8776,0.0,1399,34.698766,-2.147466,0,20,2,280,2010,functional
2,34310,25.0,686,37.460664,-3.821329,0,21,4,250,2009,functional
3,67743,0.0,263,38.486161,-11.155298,0,90,63,58,1986,non functional
4,19728,0.0,0,31.130847,-1.825359,0,18,1,0,0,functional

In [51]:
# Now we try again with SCALED numeric data using StandardScaler first:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df_combined_num.loc[:, 'id':'construction_year']
y = df_combined_num['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lr_2 = LogisticRegression().fit(X_train_scaled, y_train)

y_preds = lr_2.predict(X_test_scaled)

print("Training set score: {:.2f}".format(lr_2.score(X_train_scaled,y_train)))
print("Test set score: {:.2f}".format(lr_2.score(X_test_scaled, y_test)))

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/ipykernel_launcher.py:14: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Training set score: 0.56
Test set score: 0.56

In [52]:
# Now we try again with SCALED numeric data using MinMaxScaler:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

X = df_combined_num.loc[:, 'id':'construction_year']
y = df_combined_num['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lr_2 = LogisticRegression().fit(X_train_scaled, y_train)

y_preds = lr_2.predict(X_test_scaled)

print("Training set score: {:.2f}".format(lr_2.score(X_train_scaled,y_train)))
print("Test set score: {:.2f}".format(lr_2.score(X_test_scaled, y_test)))

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Training set score: 0.56
Test set score: 0.56

In [53]:
# Now we try again with SCALED numeric data using RobustScaler:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import RobustScaler

X = df_combined_num.loc[:, 'id':'construction_year']
y = df_combined_num['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

scaler = RobustScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lr_2 = LogisticRegression().fit(X_train_scaled, y_train)

y_preds = lr_2.predict(X_test_scaled)

print("Training set score: {:.2f}".format(lr_2.score(X_train_scaled,y_train)))
print("Test set score: {:.2f}".format(lr_2.score(X_test_scaled, y_test)))

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Training set score: 0.56
Test set score: 0.56

In [55]:
# We'll just go with Standard:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df_combined_num.loc[:, 'id':'construction_year']
y = df_combined_num['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

lr_2 = LogisticRegression().fit(X_train_scaled, y_train)

y_preds = lr_2.predict(X_test_scaled)

print("Training set score: {:.2f}".format(lr_2.score(X_train_scaled,y_train)))
print("Test set score: {:.2f}".format(lr_2.score(X_test_scaled, y_test)))

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/ipykernel_launcher.py:14: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Training set score: 0.56
Test set score: 0.56

In [56]:
# X_test_final is our numerical test set
X_test_final.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
0,50785,0.0,1996,35.290799,-4.059696,0,21,3,321,2012
1,51630,0.0,1569,36.656709,-3.309214,0,2,2,300,2000
2,17168,0.0,1567,34.767863,-5.004344,0,13,2,500,2010
3,45559,0.0,267,38.058046,-9.418672,0,80,43,250,1987
4,49871,500.0,1260,35.006123,-10.950412,0,10,3,60,2000

In [57]:
test_features_preds = lr_2.predict(X_test_final)

test_features_preds[:5]

array(['non functional', 'non functional', 'functional', 'non functional',
       'functional'], dtype=object)

In [58]:
kaggle_baseline_submission_2 = pd.DataFrame({'id': X_test_final.id, 'status_group': test_features_preds})

kaggle_baseline_submission_2.head()

      id    status_group
0  50785  non functional
1  51630  non functional
2  17168      functional
3  45559  non functional
4  49871      functional

In [61]:
# Now we're going to try to work on the categorical variables
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [62]:
# Categorical variables only for the training data

df_categorical = df.select_dtypes(include=['object']).copy()
df_categorical.head()

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,2011-03-14,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,2013-03-06,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,NaN,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,2013-02-25,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,2013-01-28,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,2011-07-13,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [63]:
# add the 'id' column to this to help with merging later
df_categorical['id'] = df['id']
df_categorical.head()

,date_recorded,funder,installer,wpt_name,basin,subvillage,region,lga,ward,public_meeting,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,id
0,2011-03-14,Roman,Roman,none,Lake Nyasa,Mnyusi B,Iringa,Ludewa,Mundindi,True,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,69572
1,2013-03-06,Grumeti,GRUMETI,Zahanati,Lake Victoria,Nyamara,Mara,Serengeti,Natta,NaN,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,8776
2,2013-02-25,Lottery Club,World vision,Kwa Mahundi,Pangani,Majengo,Manyara,Simanjiro,Ngorika,True,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,34310
3,2013-01-28,Unicef,UNICEF,Zahanati Ya Nanyumbu,Ruvuma / Southern Coast,Mahakamani,Mtwara,Nanyumbu,Nanyumbu,True,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,67743
4,2011-07-13,Action In A,Artisan,Shuleni,Lake Victoria,Kyanyamisa,Kagera,Karagwe,Nyakasimbi,True,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,19728

In [64]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [65]:
df_categorical.head()

  date_recorded        funder     installer              wpt_name                    basin  subvillage   region        lga        ward public_meeting              recorded_by scheme_management                  scheme_name permit extraction_type extraction_type_group extraction_type_class management management_group         payment payment_type water_quality quality_group      quantity quantity_group                source           source_type source_class              waterpoint_type waterpoint_type_group     id
0    2011-03-14         Roman         Roman                  none               Lake Nyasa    Mnyusi B   Iringa     Ludewa    Mundindi           True  GeoData Consultants Ltd               VWC                        Roman  False         gravity               gravity               gravity        vwc       user-group    pay annually     annually          soft          good        enough         enough                spring                spring  groundwater           communal standpipe    communal standpipe  69572
1    2013-03-06       Grumeti       GRUMETI              Zahanati            Lake Victoria     Nyamara     Mara  Serengeti       Natta            NaN  GeoData Consultants Ltd             Other                          NaN   True         gravity               gravity               gravity        wug       user-group       never pay    never pay          soft          good  insufficient   insufficient  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe   8776
2    2013-02-25  Lottery Club  World vision           Kwa Mahundi                  Pangani     Majengo  Manyara  Simanjiro     Ngorika           True  GeoData Consultants Ltd               VWC  Nyumba ya mungu pipe scheme   True         gravity               gravity               gravity        vwc       user-group  pay per bucket   per bucket          soft          good        enough         enough                   dam                   dam      surface  communal standpipe multiple    communal standpipe  34310
3    2013-01-28        Unicef        UNICEF  Zahanati Ya Nanyumbu  Ruvuma / Southern Coast  Mahakamani   Mtwara   Nanyumbu    Nanyumbu           True  GeoData Consultants Ltd               VWC                          NaN   True     submersible           submersible           submersible        vwc       user-group       never pay    never pay          soft          good           dry            dry           machine dbh              borehole  groundwater  communal standpipe multiple    communal standpipe  67743
4    2011-07-13   Action In A       Artisan               Shuleni            Lake Victoria  Kyanyamisa   Kagera    Karagwe  Nyakasimbi           True  GeoData Consultants Ltd               NaN                          NaN   True         gravity               gravity               gravity      other            other       never pay    never pay          soft          good      seasonal       seasonal  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe  19728

In [70]:
df_categorical['target'] = df_combined['status_group']
df_categorical.head()

  date_recorded        funder     installer              wpt_name                    basin  subvillage   region        lga        ward public_meeting              recorded_by scheme_management                  scheme_name permit extraction_type extraction_type_group extraction_type_class management management_group         payment payment_type water_quality quality_group      quantity quantity_group                source           source_type source_class              waterpoint_type waterpoint_type_group     id          target
0    2011-03-14         Roman         Roman                  none               Lake Nyasa    Mnyusi B   Iringa     Ludewa    Mundindi           True  GeoData Consultants Ltd               VWC                        Roman  False         gravity               gravity               gravity        vwc       user-group    pay annually     annually          soft          good        enough         enough                spring                spring  groundwater           communal standpipe    communal standpipe  69572      functional
1    2013-03-06       Grumeti       GRUMETI              Zahanati            Lake Victoria     Nyamara     Mara  Serengeti       Natta            NaN  GeoData Consultants Ltd             Other                          NaN   True         gravity               gravity               gravity        wug       user-group       never pay    never pay          soft          good  insufficient   insufficient  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe   8776      functional
2    2013-02-25  Lottery Club  World vision           Kwa Mahundi                  Pangani     Majengo  Manyara  Simanjiro     Ngorika           True  GeoData Consultants Ltd               VWC  Nyumba ya mungu pipe scheme   True         gravity               gravity               gravity        vwc       user-group  pay per bucket   per bucket          soft          good        enough         enough                   dam                   dam      surface  communal standpipe multiple    communal standpipe  34310      functional
3    2013-01-28        Unicef        UNICEF  Zahanati Ya Nanyumbu  Ruvuma / Southern Coast  Mahakamani   Mtwara   Nanyumbu    Nanyumbu           True  GeoData Consultants Ltd               VWC                          NaN   True     submersible           submersible           submersible        vwc       user-group       never pay    never pay          soft          good           dry            dry           machine dbh              borehole  groundwater  communal standpipe multiple    communal standpipe  67743  non functional
4    2011-07-13   Action In A       Artisan               Shuleni            Lake Victoria  Kyanyamisa   Kagera    Karagwe  Nyakasimbi           True  GeoData Consultants Ltd               NaN                          NaN   True         gravity               gravity               gravity      other            other       never pay    never pay          soft          good      seasonal       seasonal  rainwater harvesting  rainwater harvesting      surface           communal standpipe    communal standpipe  19728      functional

In [66]:
df_categorical.isna().sum()

date_recorded                0
funder                    3635
installer                 3655
wpt_name                     0
basin                        0
subvillage                 371
region                       0
lga                          0
ward                         0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
id                           0
dtype: int64

In [68]:
df_categorical.funder.value_counts(normalize=True)

Government Of Tanzania            0.162898
Danida                            0.055841
Hesawa                            0.039487
Rwssp                             0.024639
World Bank                        0.024191
Kkkt                              0.023079
World Vision                      0.022344
Unicef                            0.018955
Tasaf                             0.015727
District Council                  0.015117
Dhv                               0.014866
Private Individual                0.014812
Dwsp                              0.014543
0                                 0.013933
Norad                             0.013718
Germany Republi                   0.010939
Tcrs                              0.010795
Ministry Of Water                 0.010580
Water                             0.010455
Dwe                               0.008679
Netherlands                       0.008428
Hifab                             0.008070
Adb                               0.008034
Lga                               0.007926
Amref                             0.007621
Fini Water                        0.007047
Oxfam                             0.006438
Wateraid                          0.005971
Rc Church                         0.005756
Isf                               0.005667
Rudep                             0.005595
Mission                           0.005398
Private                           0.005290
Jaica                             0.005021
Roman                             0.004931
Rural Water Supply And Sanitat    0.004842
Adra                              0.004716
Ces(gmbh)                         0.004662
Jica                              0.004644
Shipo                             0.004322
Wsdp                              0.004196
Rc                                0.004124
Finw                              0.003927
Dh                                0.003820
Ded                               0.003551
Plan Int                          0.003497
Kiliwater                         0.003389
Dmdd                              0.003335
Go                                0.003246
Lawatefuka Water Supply           0.003228
Oxfarm                            0.003156
Magadini-makiwaru Water           0.003138
Fw                                0.003102
W.B                               0.003049
Kkkt_makwale                      0.002977
Ces (gmbh)                        0.002959
Wvt                               0.002833
Oikos E.Afrika                    0.002780
Nethalan                          0.002726
Mkinga Distric Coun               0.002690
Lvia                              0.002636
Concern World Wide                0.002600
Unhcr                             0.002457
No                                0.002403
Swedish                           0.002349
African                           0.002295
Community                         0.002259
Anglican Church                   0.002259
He                                0.002242
Is                                0.002242
Ki                                0.002224
Ir                                0.002206
Tardo                             0.002206
Snv                               0.002188
Wananchi                          0.002188
Roman Catholic                    0.002170
Wua                               0.002170
Unice                             0.002134
Bsf                               0.002098
Tassaf                            0.002080
Co                                0.001990
Lamp                              0.001973
Dfid                              0.001973
Concern                           0.001937
Muwsa                             0.001919
Villagers                         0.001901
Village Council                   0.001883
Ru                                0.001883
Halmashauri Ya Wilaya Sikonge     0.001829
Germany                           0.001811
Hsw                               0.001811
Twe                               0.001739
Idc                               0.001650
Tanza                             0.001578
Missi                             0.001560
Undp                              0.001542
H                                 0.001542
Mdrdp                             0.001542
Aict                              0.001524
Gtz                               0.001506
Japan                             0.001470
Cmsr                              0.001453
Rc Ch                             0.001435
Vwc                               0.001399
Ndrdp                             0.001399
Fin Water                         0.001291
Lwi                               0.001291
Kuwait                            0.001291
Kkkt Church                       0.001255
Cdtf                              0.001255
Caritas                           0.001255
Padep                             0.001237
Kaemp                             0.001237
Conce                             0.001219
Kibaha Town Council               0.001219
Water Aid /sema                   0.001219
Marafip                           0.001219
Cefa                              0.001201
Ncaa                              0.001130
National Rural                    0.001112
Commu                             0.001112
Mkinga  Distric Cou               0.001112
Losaa-kia Water Supply            0.001112
Md                                0.001094
Irish Ai                          0.001058
Sabemo                            0.001058
Plan International                0.001022
Twesa                             0.001004
Tlc                               0.000968
Gen                               0.000968
Kirde                             0.000968
St                                0.000968
Idara Ya Maji                     0.000968
Grumeti                           0.000950
Kilindi District Co               0.000950
Solidarm                          0.000950
Finida German Tanzania Govt       0.000950
Wfp                               0.000932
Cocen                             0.000932
China Government                  0.000915
Tanapa                            0.000915
Ta                                0.000915
Sema                              0.000897
Dwe/norad                         0.000897
Tabora Municipal Council          0.000879
European Union                    0.000861
Solidame                          0.000861
Dwssp                             0.000843
Ridep                             0.000843
Dads                              0.000825
Acra                              0.000825
Devon Aid Korogwe                 0.000825
Miziriol                          0.000825
Red Cross                         0.000807
Shawasa                           0.000807
Redep                             0.000789
Abasia                            0.000771
Tz Japan                          0.000771
Ms                                0.000753
Giz                               0.000753
Donor                             0.000735
Cafod                             0.000735
Tdft                              0.000735
Serikali                          0.000735
Tredep                            0.000717
Soda                              0.000717
Un                                0.000717
Ka                                0.000699
Songea District Council           0.000681
Jbg                               0.000681
Kuwasa                            0.000681
Dasip                             0.000663
Fathe                             0.000663
Kidp                              0.000646
Urt                               0.000646
W                                 0.000646
Islamic Found                     0.000628
Mbiuwasa                          0.000628
Songea Municipal Counci           0.000628
African Development Bank          0.000628
Watu Wa Ujerumani                 0.000628
Si                                0.000610
Water User As                     0.000610
Oikos E.Africa/european Union     0.000592
Holland                           0.000592
Ics                               0.000592
Ilo                               0.000592
Finn Water                        0.000592
Aar                               0.000592
Kiuma                             0.000574
Peters                            0.000574
Tuwasa                            0.000574
Dhv\norp                          0.000574
Kanisa Katoliki Lolovoni          0.000556
Biore                             0.000556
The Desk And Chair Foundat        0.000556
Churc                             0.000538
Happy Watoto Foundation           0.000538
Swiss If                          0.000538
Kalta                             0.000538
Peter Tesha                       0.000538
Ga                                0.000538
Po                                0.000538
Cspd                              0.000538
Cg                                0.000538
Jika                              0.000538
Finwater                          0.000520
World Vision/adra                 0.000520
Il                                0.000520
Kidep                             0.000520
Cocern                            0.000520
Undp/ilo                          0.000502
Ereto                             0.000502
Water Aid/sema                    0.000502
Sida                              0.000502
Save The Rain Usa                 0.000502
Hw/rc                             0.000484
Ifad                              0.000484
Lips                              0.000484
Halmashauri                       0.000484
Songas                            0.000484
Kanisa La Menonite                0.000484
Dw                                0.000484
Partage                           0.000484
I Wash                            0.000484
Not Known                         0.000484
Village Government                0.000484
Plan Internatio                   0.000466
Cdcg                              0.000466
Mileniam Project                  0.000466
Quwkwin                           0.000466
Nethe                             0.000466
Wwf                               0.000466
Dadis                             0.000448
Adp                               0.000448
Hewasa                            0.000448
Tacare                            0.000448
Rc Churc                          0.000448
Village                           0.000448
Kilwater                          0.000448
Total Land Care                   0.000448
Hans                              0.000448
Care International                0.000430
Rished                            0.000430
Tanzakesho                        0.000430
Kalitasi                          0.000430
Bgm                               0.000430
Missionaries                      0.000430
Roman Cathoric-same               0.000430
Cefa-njombe                       0.000412
                                    ...
Norad/government                  0.000018
Mzee Waziri Tajari                0.000018
Ermua                             0.000018
Mwl.Mwita                         0.000018
Upper Ruvu                        0.000018
Sakwidi                           0.000018
Raramataki                        0.000018
Birage                            0.000018
Agape Churc                       0.000018
Bfwd                              0.000018
Rarymond Ekura                    0.000018
Sekondari                         0.000018
Aqua Blues Angels                 0.000018
Bingo Foundation Germany          0.000018
Act Mara                          0.000018
Rudri                             0.000018
Kijij                             0.000018
Silinda Yetu                      0.000018
Kdpa                              0.000018
Dacp                              0.000018
World Bank/government             0.000018
Rhobi                             0.000018
Nasan                             0.000018
Mwakalinga                        0.000018
Arab Community                    0.000018
Jeshi Lawokovu                    0.000018
John Fund                         0.000018
Japan Food Aid                    0.000018
Taipo                             0.000018
Twig                              0.000018
Fresh Water Plc England           0.000018
Wame Mbiki                        0.000018
Zinduka                           0.000018
Tquick Wings                      0.000018
Nyitamboka                        0.000018
Teonas Wambura                    0.000018
Shabani Dunia                     0.000018
Women Fo Partnership              0.000018
Plan Tanzania                     0.000018
Ded Kilo                          0.000018
Tabea                             0.000018
Busoga Trust                      0.000018
Afric                             0.000018
Wamisionari Wa Kikatoriki         0.000018
Craelius                          0.000018
Mboni Salehe                      0.000018
Dsdp                              0.000018
Theonas Mnyama                    0.000018
Ms-danish                         0.000018
Deogratius Kasima                 0.000018
Duka                              0.000018
Wamarekani                        0.000018
Muslimu Society(shia)             0.000018
Nyamingu Subvillage               0.000018
Village Communi                   0.000018
Morad                             0.000018
Swalehe Rajab                     0.000018
Kinga                             0.000018
Hesawa And Concern World Wide     0.000018
Tanedaps Society                  0.000018
Piusi                             0.000018
Kanamama                          0.000018
Magutu Maro                       0.000018
Tcrst                             0.000018
Mwita Mahiti                      0.000018
Aixos                             0.000018
Fosecu                            0.000018
Nordic                            0.000018
Mgaya Masese                      0.000018
Chai Wazir                        0.000018
Ccps                              0.000018
Nazalet Church                    0.000018
Mitema                            0.000018
Hez                               0.000018
Seleman Seif                      0.000018
Water Aid/dwe                     0.000018
Vwt                               0.000018
Teresa Munyama                    0.000018
Veo                               0.000018
Netherla                          0.000018
Noshad                            0.000018
Madaraweshi                       0.000018
Frankfurt                         0.000018
Bonite Bottles Ltd                0.000018
Jumanne                           0.000018
Nyamasagi                         0.000018
Education Funds                   0.000018
Trach                             0.000018
Dgv                               0.000018
Mzee Sh                           0.000018
Kitiangare Village Community      0.000018
Dwe/anglican Church               0.000018
Gurdians                          0.000018
People Of Sweden                  0.000018
Mzee Salum Bakari Darus           0.000018
Nyeisa                            0.000018
Kamata Project                    0.000018
Overland High School              0.000018
Comune Di Roma                    0.000018
Ndm                               0.000018
Matimbwa Sec                      0.000018
Hamref                            0.000018
Getekwe                           0.000018
Mosqure                           0.000018
Prince Medium School              0.000018
Zao                               0.000018
Stephano                          0.000018
Tadeo                             0.000018
Lee Kang Pyung's Family           0.000018
Ruvu Darajani                     0.000018
Taasaf                            0.000018
Kokornel                          0.000018
Village Council/ Rose Kawala      0.000018
Otelo Bussiness Company           0.000018
Tanzaling                         0.000018
Tasaf 1                           0.000018
Jeshi La Wokovu [cida]            0.000018
Ripati                            0.000018
Tdrs                              0.000018
Misana George                     0.000018
Piscope                           0.000018
Tove                              0.000018
Shule Ya Msingi                   0.000018
Hapa Singida                      0.000018
Mzungu                            0.000018
Dqnida                            0.000018
Selikali Ya Kijiji                0.000018
Samsoni                           0.000018
Care Int                          0.000018
S. Kumar                          0.000018
Tacri                             0.000018
Nyangere                          0.000018
Giovan Disinistra Per Salve       0.000018
Marumbo Community                 0.000018
Jamal                             0.000018
Mnyama                            0.000018
Bakwata                           0.000018
Koico                             0.000018
Salim Ahmed Salim                 0.000018
Muslim Society                    0.000018
Wamissionari Wa Kikatoriki        0.000018
Dmk Anglican                      0.000018
Ringo                             0.000018
Tgz                               0.000018
Said Omari                        0.000018
Engineers Without Border          0.000018
Bathlomew Vicent                  0.000018
Sumriy                            0.000018
Kopwe Khalifa                     0.000018
Tanzania Egypt Technical Co Op    0.000018
Team Rafiki                       0.000018
Matyenye                          0.000018
Gdp                               0.000018
Ju                                0.000018
Manyota Primary School            0.000018
Drwssp                            0.000018
Unicef/african Muslim Agency      0.000018
Asgerali N Bharwan                0.000018
Tlc/sorri                         0.000018
Kanisani                          0.000018
Doner And Com                     0.000018
Nipon & Panoco                    0.000018
Padri                             0.000018
Village Contributio               0.000018
Cper                              0.000018
Mganga                            0.000018
Huches                            0.000018
Haydom Lutheran Hospital          0.000018
Yasini Selemani                   0.000018
Redekop Digloria                  0.000018
Hesswa                            0.000018
Cida                              0.000018
Kkkt Usa                          0.000018
Jumanne Siabo                     0.000018
Ded_rwsp                          0.000018
Jafary Mbaga                      0.000018
Embasy Of Japan In Tanzania       0.000018
Rc Njoro                          0.000018
Mzee Mkungata                     0.000018
Selestine Mganga                  0.000018
Grail Mission Kiseki Bar          0.000018
Moses                             0.000018
Regina Group                      0.000018
Fpct Mulala                       0.000018
Timothy Shindika                  0.000018
Shirika La Kinamama Na Watot      0.000018
Kcu                               0.000018
Watu Wa Marekani                  0.000018
Twende Pamoja                     0.000018
Goldmain                          0.000018
Justine Marwa                     0.000018
Unp/aict                          0.000018
Waitaliano                        0.000018
Masai Land                        0.000018
Sharifa Athuman                   0.000018
Abas Ka                           0.000018
Swiss Tr                          0.000018
Ruangwa Lga                       0.000018
Tlc/jenus Malecha                 0.000018
Ur                                0.000018
Masese                            0.000018
Grazie Grouppo Padre Fiorentin    0.000018
Ncs                               0.000018
Wsdo                              0.000018
Prof. Saluati                     0.000018
Legeza Legeza                     0.000018
Vn                                0.000018
Saudia                            0.000018
Mbozi Secondary School            0.000018
Marke                             0.000018
Bukumbi                           0.000018
Hotels And Lodge Tanzania         0.000018
Brad                              0.000018
Nimrodi Mkono[mb]                 0.000018

In [72]:
df['num_private'].value_counts()

0       58643
6          81
1          73
5          46
8          46
32         40
45         36
15         35
39         30
93         28
3          27
7          26
2          23
65         22
47         21
102        20
4          20
17         17
80         15
20         14
25         12
11         11
41         10
34         10
16          8
120         7
150         6
22          6
12          5
24          5
50          5
38          4
58          4
9           4
10          4
14          3
61          3
27          2
26          2
160         1
30          1
698         1
60          1
1402        1
450         1
668         1
131         1
35          1
672         1
42          1
136         1
87          1
300         1
280         1
141         1
62          1
111         1
240         1
1776        1
755         1
180         1
213         1
23          1
55          1
94          1
Name: num_private, dtype: int64

In [73]:
df['population'].head(10)

0    109
1    280
2    250
3     58
4      0
5      1
6      0
7      0
8      0
9      0
Name: population, dtype: int64

In [74]:
df['population'].describe()

count    59400.000000
mean       179.909983
std        471.482176
min          0.000000
25%          0.000000
50%         25.000000
75%        215.000000
max      30500.000000
Name: population, dtype: float64